.completedTodo {
    color: darkgrey;
    text-decoration: line-through;
}

ul {
    margin: 4px 0;
}
.active{
    background-image: var(--btn-active-grad);
    box-shadow: 4px 4px 12px 4px var(--btn-active-shadow);
    opacity: 1;
}
.delete{
    cursor: pointer;
}