.completedTodo {
    color: darkgrey;
    text-decoration: line-through;
}

ul {
    margin: 4px 0;
}
.active{
    background-color: #957bf0;
    background-image: none;
    box-shadow: 4px 4px 12px 4px #fb69d6;
    opacity: 1;
}
.delete{
    cursor: pointer;
}