.btn-raj{
    color:white;
    margin: 0 0 0 0.25rem;
    background-color: #957bf0;
    background-image: linear-gradient(135deg,#957bf0,#fb69d6);
}
.raj-border{
    border-radius: 0.5rem !important;
}